<header>
  <div class="up_page">
     {{>header}}
      <div class="menu2">
        {{>menu2}}
      </div>
    </div>
  </div>
  {{>menu}}

  <h1 class="titulo"> Let´s chat </h1>
</header>

<main>

  <input
    type="text"
    class="inputChat"
    id="message"
    placeholder=" type your message..."
  />
  <div id="messages" class="chatMessages"></div>

</main>

<footer></footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/chat.js"></script>
<script src="/assets/js/logout.js"></script>