<header></header>

<h1 class="titulo"> Horisada´s Paintings </h1>
<hr />
<hr />

<h2 class="subtitulo"> List of Products </h2>


<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Stock</th>
  </tr>
  <tr>
    <td>
      <div class="inline-block">
       {{#each products}}
           <p>{{title}}</p>
      {{/each}}
    </td>
      <td>
      <div class="inline-block">
        {{#each products}}
          <p>{{category}}</p>
      {{/each}}
    </td>
    <td>
      <div class="inline-block">
        {{#each products}}
          <p>{{price}}</p>
      {{/each}}
      </td>
    <td>
      <div class="inline-block">
        {{#each products}}
          <p>{{stock}}</p>
      {{/each}}
    </td>
  </tr>
</table>

<form class="form" action="api/products/" method="get">
  <input class="input_form" type="text" name="title" />
  <input class="input_form" type="text" name="description" />
  <input class="input_form" type="text" name="category" />
  <input class="input_form" type="text" name="price" />
  <input class="input_form" type="text" name="status" />
  <input class="input_form" type="text" name="thumbnail" />
  <input class="input_form" type="text" name="code" />
  <input class="input_form" type="text" name="stock" />
  <input class="boton" type="submit" vale="grabar" />

</form>

<footer></footer>

