<header></header>

<a href="/home">Products Data</a>
<h1 class="titulo"> Horisada´s Paintings </h1>
<hr />
<hr />

<h2 class="subtitulo"> Update Products </h2>

<div class="list_container">
  <ul id="products">
    {{#each products}}
      <div class="product">
        <li>Name: {{title}}</li>
        <li>Code: {{code}}</li>
      </div>
    {{/each}}
  </ul>
</div>

<footer></footer>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/script.js"></script>