<header>
  <div class="up_page">
     {{>header}}
      <div class="menu2">
        {{>menu2}}
      </div>
    </div>
  </div>
  {{>menu}}
</header>

<main>

  <form onsubmit="register(event)" id="formRegister" action="/api/sessions/register" method="post">
  <div class="imgcontainer">
    <img src="https://i.postimg.cc/T1KzTnz6/3d-casual-life-cat-on-laptop.png" alt="Avatar" class="avatar" />
  </div>

  <div class="container_form">
    {{#if error}}
      <div class="error_message">{{error}}</div>
    {{/if}}
    <label for="name"><b>Name</b></label>
    <input class="form_input" type="text" placeholder="Enter Name" name="name"  />

    <label for="last_name"><b>Last Name</b></label>
    <input class="form_input" type="text" placeholder="Enter Last Name" name="last_name"  />

    <label for="age"><b>Age</b></label>
    <input class="form_input" type="text" placeholder="Enter Age" name="age"  />

    <label for="email"><b>Email</b></label>
    <input class="form_input" type="email" placeholder="Enter Email" name="email"  />

    <label for="password"><b>Password</b></label>
    <input class="form_input" type="password" placeholder="Enter Password" name="password"  />
   

    <div class="button-container_register">
      <button class="button_form" type="submit">Register</button>
    </div>
  </div>
</form>

<div class="registration_login">
  <p class="register_msg"> Already registered?</p>
  <a href="/login"><button class="register_login_button">Login</button></a>
</div>

<footer></footer>

<script src="/assets/js/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
