     <a href="/home">
      <img class="logo" src="https://i.postimg.cc/JzVpc1S5/logo-header.png" alt="logo" width="80" />
    </a>
     {{#if login}}
    <div class="cart_menu_container">
      <a href="/carts/{{cartId}}">
        <img class="cart_icon" src="https://i.postimg.cc/rF4ScZMk/icons8-cart-48.png" alt="" />
      </a>
        {{/if}}