<nav class="navbar2">
  {{#if user}}
    <a href="/profile">Profile</a>
    <a onclick="logout()" style="cursor: pointer;">Logout</a>
  {{else}}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/api/sessions/github">Login with Github</a>
  {{/if}}
</nav>